<!-- footer.ejs -->
    <!-- Footer -->
    <footer class="bg-gray-800 text-white py-4">
      <div class="main-container text-center">
        <p>&copy; 2024 sdmConnect. All rights reserved.</p>
      </div>
    </footer>

    <!-- Mobile Menu Toggle Script -->
    
  </body>
</html>
